/** Clickable card Component **/
.clickable-card {
    border-radius: 8px;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clickable-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #333;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.card-subtitle {
    color: #666;
    margin: 0;
    text-align: center;
}

.feature-not-available {
    color: red !important;
}

.clickable-card h3 {
    color: #333 !important;
}

.ui-state-disabled .clickable-card, .ui-state-disabled .clickable-card div {
    background-color: #ffffff;
}

